<footer>
    <div class="footer">
        <div >
            <%- include('./logo2.ejs')%>
            <a href="#">About us</a>
            <a href="#">Contact us</a>
            <a href="#">Terms and policy</a>
        </div>
        <div >
            <h3>find us here</h3>
            <div class="socials">
                <a href="#" >
                    <img src="/images/facebookIcon.png" alt="facebook">
                </a>
                <a href="#" >
                    <img src="/images/InstagramIcon.png" alt="instagram">
                </a>
                <a href="#" >
                    <img src="/images/TwitterIcon.png" alt="twitter">
                </a>
                
            </div>
        </div>
    </div>
    
    Copy right @ 2021 
</footer>



