<!DOCTYPE html>
<html lang="en">
    <%- include('./cmmn-things/head.ejs') %>
<body>
    
    <h1 class="s404">404
        <span> Oops!! something went wrong</span>
    </h1>
    

    
<%- include('./cmmn-things/footer.ejs') %>
</div>
</body>
</html>