<option value="Adrar">Adrar</option>
<option value="Chlef">Chlef</option>
<option value="Laghwat">Laghwat</option>
<option value="Oum bwaki">Oum bwaki</option>
<option value="Batna">Batna</option>
<option value="Bijaia">Bijaia</option>
<option value="Bechar">Bechar</option>
<option value="Biskra">Biskra</option>
<option value="Blida">Blida</option>
<option value="Bouira">Bouira</option>
<option value="Tamenrast">Tamenrast</option>
<option value="Tbesa">Tbesa</option>
<option value="Tlemcen">Tlemcen</option>
<option value="Tiaret">Tiaret</option>
<option value="Tizi ozou">Tizi ozou</option>
<option value="Alger">Alger</option>
<option value="Djelfa">Djelfa</option>
<option value="Jijel">Jijel</option>
<option value="Setif">Setfi</option>
<option value="Saida">Saida</option>
<option value="Sekikda">Sekikda</option>
<option value="Sidi bel abbes">Sidi bel abbes</option>
<option value="Annaba">Annaba</option>
<option value="Guelma">Guelma</option>
<option value="Constantine">Constantine</option>
<option value="Media">Media</option>
<option value="Mostaganem">Mostaganem</option>
<option value="Msila">Msila</option>
<option value="Mascara">Mascara</option>
<option value="Ourgla">Ourgla</option>
<option value="Oran">Oran</option>
<option value="Bayedh">Bayedh</option>
<option value="Ilisi">Ilisi</option>
<option value="Bourj bouariridj">Bourj bouariridj</option>
<option value="Boumerdas">Boumerdas</option>
<option value="Taref">Taref</option>
<option value="Tindouf">Tindouf</option>
<option value="Tisemsilet">Tisemsilet</option>
<option value="El-oued">El-oued</option>
<option value="Khanchla">Khanchla</option>
<option value="Souk-ahrasse">Souk-ahrasse</option>
<option value="Tipaza">Tipaza</option>
<option value="Mila">Mila</option>
<option value="Ain Defla">Ain defla</option>
<option value="Naama">Naama</option>
<option value="Ain timouchent">Ain timouchent</option>
<option value="Ghardaia">Ghardaia</option>
<option value="Ghilizan">Ghilizan</option>